.HeaderTableContainer{
    border: 2px;
}

.TableHeaderTitles{
    display: grid!important;
    place-content: center start;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr;
    margin-left: 10px!important;
    width: 90%;
    background-color: #F0F2F7;
    border: 1px solid #8792A4;
}
.Row{
    width: 100%;
    grid-template-columns: 90% 1fr;
}

.DataRow{
    display: grid!important;
    width: 100%;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr;
    place-content: center center;
    border: 1px solid #8792A4;
    margin-left: 10px!important;
}
.PokePreview{
    max-width: 100px;
    max-height: 100px;
}
.cell {
    display: grid!important;
    place-content: center start;
}